@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs[0].Played)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Songs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Played)
            </td>
        </tr>
}
    </tbody>
</table>